<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Book-A-Room</title>
    </head>
<body>
<div class="container">
    <div class="card mt-4 mb-4 shadow-sm">
        <div class="card-header bg-dark text-light">
            <h4 class="my-0 mb-4 font-weight-normal">Reserva del {{ reservation.check_in|date:"SHORT_DATE_FORMAT" }} al {{ reservation.check_out|date:"SHORT_DATE_FORMAT" }}</h4>
        </div>
        <div class="card-body bg-light">
            <table class="table">
                <tr>
                    <td>Localizador</td>
                    <td>{{ reservation.number }}
                    </td>
                </tr>
                <tr>
                    <td>Habitación</td>
                    <td>{{ reservation.room.number }}</td>
                </tr>
                <tr>
                    <td>Tipo</td>
                    <td>{{ reservation.room.type }}</td>
                </tr>
                <tr>
                    <td>Equipamiento</td>
                    <td>
                    {% for facility in reservation.room.facilities.all %}
                    {{ facility }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                    </td>
                </tr>
                {% if reservation.comments %}
                <tr>
                    <td>Comentarios</td>
                    <td>{{ reservation.comments|linebreaks }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>Precio por noche</td>
                    <td>€{{ reservation.room.price }}</td>
                </tr>
                <tfoot>
                    <tr>
                        <td><b>Total reserva</b></td>
                        <td><b>€{{ reservation.total }}</b></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</body>
</html>